body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4f8;
    padding: 40px 20px ;
    color: #333;
}

h1{
    color: #1a237e;
    font-size: 34px;
    margin-bottom: 12px;
}

button{
    padding: 8px 16px;
    margin: 6px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


#inventoryList {
    margin-top: 15px;
    background-color: bisque;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(red, green, blue, alpha);
}